# Data Breaches (Preparing for visualization)
# MSIS 2629 - Data Visualization
# Assignment 0
# Submitted by: Yuhao Wang

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel("./Information is Beautiful- Data Breaches (public).xlsx")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 10000)

In [3]:
df.head(5)

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED.1,Exclude,Unnamed: 13,1st source link,2nd source link,3rd source,source name
0,NaN,NaN,Elaboration if there's an interesting story or detail behind it,"years are encoded (0=2004, 8 = 2012, 9 = 2013, 10=2014, 11=2015, 12=2016, 13 = 2017, 14=latest","(use 3m, 4m, 5m or 10m to approximate unknown figures)",NaN,NaN,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown figures)",1. Just email address/Online information 20 SSN/Personal details 300 Credit card information 4000 Email password/Health records 50000 Full bank account details,NaN,NaN,Show this item in the viz?,NaN,NaN,NaN,NaN,NaN
1,AOL,American Online,A former America Online software engineer stole 92 million screen names and e-mail addresses and sold them to spammers who sent out up to 7 billion unsolicited e-mails.,0,92000000,web,inside job,NaN,92000000,1,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol_spam/,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
2,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,NaN,130000,20,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160425&page=1#.UFcROxgUwaA,NaN,NaN,ABC
3,Ameritrade Inc.,Computer backup tape containing personal information was lost.,online broker,1,200000,financial,lost / stolen device,NaN,200000,20,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN
4,Citigroup,NaN,Blame the messenger! A box of computer tapes containing information on 3.9 million customers was lost by United Parcel Service (UPS) while in transit to a credit reporting agency.,1,3900000,financial,lost / stolen device,y,3900000,300,NaN,NaN,NaN,NaN,http://www.nytimes.com/2005/06/07/business/07data.html?pagewanted=all&_moc.semityn.www,NaN,NaN,NY Times

In [4]:
#df["METHOD OF LEAK"].unique()
df.groupby(by="METHOD OF LEAK").count()

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED.1,Exclude,Unnamed: 13,1st source link,2nd source link,3rd source,source name
METHOD OF LEAK,,,,,,,,,,,,,,,,,
accidentally published,17,4,15,17,17,17,6,17,17,0,0,0,0,17,4,0,8
hacked,155,78,131,155,153,155,33,155,155,0,0,1,1,155,24,4,54
hacked,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,1
inside job,19,12,16,19,19,19,4,19,19,0,0,0,0,19,5,0,10
lost / stolen device,49,20,44,49,49,49,17,49,49,0,0,0,0,49,17,0,26
poor security,12,4,10,12,12,12,2,12,12,0,0,0,0,12,3,0,3

In [5]:
df.groupby(by="ORGANISATION").count()

,Entity,alternative name,story,YEAR,records lost,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED.1,Exclude,Unnamed: 13,1st source link,2nd source link,3rd source,source name
ORGANISATION,,,,,,,,,,,,,,,,,
academic,9,3,4,9,9,9,1,9,9,0,0,0,0,9,3,0,8
app,2,1,2,2,2,2,0,2,2,0,0,0,0,2,0,0,0
energy,3,1,3,3,3,3,0,3,3,0,0,0,0,3,1,0,3
financial,31,19,25,31,31,31,14,31,31,0,0,0,0,31,2,0,19
gaming,7,4,6,7,6,7,1,7,7,0,0,0,0,7,0,0,4
government,37,10,33,37,37,37,6,37,37,0,0,0,0,37,5,0,14
"government, healthcare",2,1,2,2,2,2,2,2,2,0,0,0,0,2,0,0,2
"government, military",1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
healthcare,36,18,33,36,36,36,9,36,36,0,0,0,0,36,17,0,7
legal,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0
media,3,1,3,3,3,3,0,3,3,0,0,0,0,3,0,0,1
military,6,2,5,6,6,6,4,6,6,0,0,0,0,6,0,0,6
"military, healthcare",1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,1
retail,15,7,11,15,15,15,4,15,15,0,0,0,0,15,4,1,7
tech,10,5,9,10,10,10,3,10,10,0,0,0,0,10,3,2,3
"tech, retail",2,0,2,2,2,2,2,2,2,0,0,0,0,2,1,0,0
"tech, web",2,0,2,2,2,2,0,2,2,0,0,0,0,2,1,0,2
telecoms,9,4,9,9,9,9,5,9,9,0,0,0,0,9,3,0,6
transport,3,1,3,3,3,3,1,3,3,0,0,0,0,3,2,0,1
web,70,37,59,70,69,70,8,70,70,0,0,1,1,70,11,1,16
"web, gaming",1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1
"web, military",1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,1
"web, tech",1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0

In [6]:
df.groupby(by="YEAR").count()

,Entity,alternative name,story,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED.1,Exclude,Unnamed: 13,1st source link,2nd source link,3rd source,source name
YEAR,,,,,,,,,,,,,,,,,
0,1,1,1,1,1,1,0,1,1,0,0,0,0,1,1,0,1
1,4,3,3,4,4,4,2,4,4,0,0,0,0,4,0,0,3
2,6,3,5,6,6,6,3,6,6,0,0,0,0,6,1,0,4
3,13,8,11,13,13,13,2,13,13,0,0,0,0,13,2,0,9
4,16,7,14,16,16,16,6,16,16,0,0,0,0,16,5,0,12
5,14,7,13,14,14,14,11,14,14,0,0,0,0,14,4,0,12
6,20,10,15,20,20,20,5,20,20,0,0,0,0,20,6,0,10
7,35,15,30,35,35,35,6,35,35,0,0,0,0,35,7,0,19
8,25,13,23,25,25,25,5,25,25,0,0,0,0,25,7,0,9
9,31,13,27,29,31,31,8,31,31,0,0,0,0,31,10,1,18
10,22,3,14,22,22,22,8,22,22,0,0,1,0,22,4,2,2
11,22,15,19,22,22,22,1,22,22,0,0,0,0,22,5,1,2
12,17,10,16,17,17,17,2,17,17,0,0,0,0,17,0,0,0
13,21,9,20,21,21,21,1,21,21,0,0,0,1,21,1,0,1
14,6,1,6,6,6,6,2,6,6,0,0,0,0,6,0,0,0
"years are encoded (0=2004, 8 = 2012, 9 = 2013, 10=2014, 11=2015, 12=2016, 13 = 2017, 14=latest",0,0,1,1,0,0,0,1,1,0,0,1,0,0,0,0,0

In [7]:
df.groupby(by="records lost").count()

,Entity,alternative name,story,YEAR,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED.1,Exclude,Unnamed: 13,1st source link,2nd source link,3rd source,source name
records lost,,,,,,,,,,,,,,,,,
1025,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
30000,1,1,0,1,1,1,0,1,1,0,0,0,0,1,0,0,0
34000,2,0,2,2,2,2,1,2,2,0,0,0,0,2,0,0,1
35000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
40000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
43000,1,0,0,1,1,1,0,1,1,0,0,0,0,1,0,0,1
50000,2,0,1,2,2,2,0,2,2,0,0,0,0,2,0,0,1
50500,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
52000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0
62000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,1
72000,2,0,2,2,2,2,1,2,2,0,0,0,0,2,1,0,2
73000,1,0,0,1,1,1,0,1,1,0,0,0,0,1,0,0,0
76000,1,0,0,1,1,1,0,1,1,0,0,0,0,1,0,0,0
84000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
89000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,1
97000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,1,0,1
100000,4,2,3,4,4,4,0,4,4,0,0,0,0,4,0,0,3
102153,1,1,1,1,1,1,0,1,1,0,0,0,0,1,1,0,0
105470,1,1,0,1,1,1,0,1,1,0,0,0,0,1,1,0,0
110000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,1
112000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
113000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1
114000,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1
123461,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,1
125000,2,2,0,2,2,2,0,2,2,0,0,0,0,2,1,0,2
130495,1,0,1,1,1,1,0,1,1,0,0,0,0,1,1,0,0
131000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1
146000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,1,0,1
150000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0
156000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43000000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
43500000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
49611709,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
50000000,2,2,2,2,2,2,0,2,2,0,0,0,0,2,2,0,2
55000000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
56000000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0
65000000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
68700000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
70000000,2,1,2,2,2,2,1,2,2,0,0,0,0,2,1,1,1
76000000,2,0,2,2,2,2,2,2,2,0,0,0,0,2,0,0,1
77000000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1
80000000,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0
85200000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
92000000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,1,0,1
94000000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,1,0,1
100544934,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
117000000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
130000000,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1
143000000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0
145000000,1,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0
160000000,1,1,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0
164000000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
198000000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,1,0,1
200000000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,1,0,1
412000000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,1,0,1
500000000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
711000000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
1000000000,1,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
1370000000,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
"(use 3m, 4m, 5m or 10m to approximate unknown figures)",0,0,1,1,0,0,0,1,1,0,0,1,0,0,0,0,0

In [8]:
df1 = df[1:]

In [9]:
df1.YEAR += 2004
df1["YEAR"][df1.YEAR == 2018] = 2017

In [10]:
df1.head()

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED.1,Exclude,Unnamed: 13,1st source link,2nd source link,3rd source,source name
1,AOL,American Online,A former America Online software engineer stole 92 million screen names and e-mail addresses and sold them to spammers who sent out up to 7 billion unsolicited e-mails.,2004,92000000,web,inside job,NaN,92000000,1,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol_spam/,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
2,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,2005,125000,financial,poor security,NaN,130000,20,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160425&page=1#.UFcROxgUwaA,NaN,NaN,ABC
3,Ameritrade Inc.,Computer backup tape containing personal information was lost.,online broker,2005,200000,financial,lost / stolen device,NaN,200000,20,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN
4,Citigroup,NaN,Blame the messenger! A box of computer tapes containing information on 3.9 million customers was lost by United Parcel Service (UPS) while in transit to a credit reporting agency.,2005,3900000,financial,lost / stolen device,y,3900000,300,NaN,NaN,NaN,NaN,http://www.nytimes.com/2005/06/07/business/07data.html?pagewanted=all&_moc.semityn.www,NaN,NaN,NY Times
5,Cardsystems Solutions Inc.,"Third-party payment processor for Visa, Mastercard, Amex, and Discover","CardSystems was fingered by MasterCard after it spotted fraud on credit card accounts and found a common thread, tracing it back to CardSystems. An unauthorized entity put a specific code into CardSystems' network, enabling the person or group to gain access to the data. It's not clear how many of the 40 million accounts were actually stolen.",2005,40000000,financial,hacked,y,40000000,300,NaN,NaN,NaN,NaN,http://www.msnbc.msn.com/id/8260050/ns/technology_and_science-security/t/million-credit-cards-exposed/#.UFiz7aRYtmg,NaN,NaN,MSNBC

In [11]:
df1["DATA SENSITIVITY"][2]

for i in range(1, len(df1["DATA SENSITIVITY"]) + 1):
    if df1["DATA SENSITIVITY"][i] == 1:
        df1["DATA SENSITIVITY"][i] = "Just email address/Online information"
    elif df1["DATA SENSITIVITY"][i] == 20:
        df1["DATA SENSITIVITY"][i] = "SSN/Personal details"
    elif df1["DATA SENSITIVITY"][i] == 300:
        df1["DATA SENSITIVITY"][i] = "Credit card information"
    elif df1["DATA SENSITIVITY"][i] == 4000:
        df1["DATA SENSITIVITY"][i] = "Email password/Health records"
    else:
        df1["DATA SENSITIVITY"][i] = "Full bank account details"
df1["DATA SENSITIVITY"]

1      Just email address/Online information
2                       SSN/Personal details
3                       SSN/Personal details
4                    Credit card information
5                    Credit card information
6                       SSN/Personal details
7                    Credit card information
8      Just email address/Online information
9      Just email address/Online information
10     Just email address/Online information
11                      SSN/Personal details
12                      SSN/Personal details
13                      SSN/Personal details
14                      SSN/Personal details
15                   Credit card information
16                      SSN/Personal details
17                      SSN/Personal details
18                      SSN/Personal details
19                   Credit card information
20     Just email address/Online information
21                   Credit card information
22     Just email address/Online information
23     Just email address/Online information
24                   Credit card information
25                      SSN/Personal details
26                      SSN/Personal details
27                      SSN/Personal details
28     Just email address/Online information
29                      SSN/Personal details
30                 Full bank account details
                       ...
224    Just email address/Online information
225                  Credit card information
226                     SSN/Personal details
227            Email password/Health records
228                     SSN/Personal details
229                Full bank account details
230    Just email address/Online information
231            Email password/Health records
232            Email password/Health records
233            Email password/Health records
234    Just email address/Online information
235    Just email address/Online information
236                     SSN/Personal details
237                     SSN/Personal details
238                Full bank account details
239    Just email address/Online information
240                     SSN/Personal details
241            Email password/Health records
242            Email password/Health records
243            Email password/Health records
244    Just email address/Online information
245    Just email address/Online information
246                     SSN/Personal details
247    Just email address/Online information
248                  Credit card information
249                  Credit card information
250                Full bank account details
251    Just email address/Online information
252                Full bank account details
253            Email password/Health records
Name: DATA SENSITIVITY, dtype: object

In [12]:
df1.head()

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED.1,Exclude,Unnamed: 13,1st source link,2nd source link,3rd source,source name
1,AOL,American Online,A former America Online software engineer stole 92 million screen names and e-mail addresses and sold them to spammers who sent out up to 7 billion unsolicited e-mails.,2004,92000000,web,inside job,NaN,92000000,Just email address/Online information,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol_spam/,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
2,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,2005,125000,financial,poor security,NaN,130000,SSN/Personal details,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160425&page=1#.UFcROxgUwaA,NaN,NaN,ABC
3,Ameritrade Inc.,Computer backup tape containing personal information was lost.,online broker,2005,200000,financial,lost / stolen device,NaN,200000,SSN/Personal details,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN
4,Citigroup,NaN,Blame the messenger! A box of computer tapes containing information on 3.9 million customers was lost by United Parcel Service (UPS) while in transit to a credit reporting agency.,2005,3900000,financial,lost / stolen device,y,3900000,Credit card information,NaN,NaN,NaN,NaN,http://www.nytimes.com/2005/06/07/business/07data.html?pagewanted=all&_moc.semityn.www,NaN,NaN,NY Times
5,Cardsystems Solutions Inc.,"Third-party payment processor for Visa, Mastercard, Amex, and Discover","CardSystems was fingered by MasterCard after it spotted fraud on credit card accounts and found a common thread, tracing it back to CardSystems. An unauthorized entity put a specific code into CardSystems' network, enabling the person or group to gain access to the data. It's not clear how many of the 40 million accounts were actually stolen.",2005,40000000,financial,hacked,y,40000000,Credit card information,NaN,NaN,NaN,NaN,http://www.msnbc.msn.com/id/8260050/ns/technology_and_science-security/t/million-credit-cards-exposed/#.UFiz7aRYtmg,NaN,NaN,MSNBC

In [13]:
df1 = df1.ix[:,0:10]

In [14]:
df1.to_csv("test.csv",encoding="utf-8")